<h2><%= link_to entry.title, entry.title %></h2>
<%= image_tag entry.picture.url if entry.picture? %>
<p>  <%= entry.content %> </p>
<%= link_to gravatar_for(entry.user, size: 30), entry.user %>
<%= link_to entry.user.name, entry.user %>
<span class="single-meta-date">
  Posted <%= time_ago_in_words(entry.created_at) %> ago.
  <% if current_user?(entry.user) %>
    <%= link_to "delete", entry, method: :delete,
                                     data: { confirm: "You sure?" } %>
  <% end %>
</span>
<hr>
