<% if logged_in? %>
  <% unless @comment.nil? %>
    <%= form_for(@comment, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="row">
        <div class="col-md-8">
          <%= f.text_area :content, placeholder: "Write a comment!" %>
        </div>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :entry_id, value: object.id %>
        <div class="col-md-2">
        <%= f.submit "Comment", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
